.checkbox-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* ボタンの間隔 */
}

.category-button {
    display: flex;
    align-items: center;
}

.category-button input {
    display: none; /* チェックボックスを隠す */
}

.category-button label {
    padding: 10px 20px; /* パディングを追加 */
    border: 1px solid #b5c48f; /* 抹茶の濃い色のボーダー */
    border-radius: 5px; /* 角を丸める */
    cursor: pointer; /* ポインタを表示 */
    background-color: #e0e8cc;; /* 抹茶の薄い色 */
    color: #3b3b3b; /* 濃い抹茶色の文字 */
    transition: background-color 0.3s, color 0.3s; /* 背景色と文字色の変化をスムーズに */
}

/* ホバー時のスタイル */
.category-button label:hover {
    background-color: #668800; /* ホバー時の色 */
}

/* チェック時のスタイル */
.category-button input:checked + label {
    background-color: #556600; /* 濃い抹茶色 */
    color: white; /* チェック時の文字色 */
}


.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
