<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"><!-- タイムリーフが使えるようになる -->
<head>
    <div th:replace="~{fragment::headResources}"></div>

    <title>レストラン一覧</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="wrapper">
    <!-- ヘッダー -->
    <div th:replace="~{fragment::header}"></div>

    <main>
        <div class="container pt-4 pb-5">
            <div class="row justify-content-center">
                <div class="col-xxl-9 col-xl-10 col-lg-11">

                    <h1 class="mb-4 text-center">レストラン一覧</h1>

                    <div class="d-flex justify-content-between align-items-end flex-wrap">
                        <form method="get" th:action="@{/admin/restaurant}" class="mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" th:value="${keyword}"
                                       placeholder="レストラン名"><!-- th:valueで初期値を設定している -->
                                <button type="submit" class="btn text-white shadow-sm">検索</button>
                            </div>
                        </form>


                        <a th:href="@{/admin/restaurant/register}" class="btn text-white shadow-sm mb-3">登録</a>
                    </div>

                    <div th:if="${successMessage}" class="alert alert-info">
                        <span th:text="${successMessage}"></span>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">レストラン名</th>
                            <th scope="col">郵便番号</th>
                            <th scope="col">住所</th>
                            <th scope="col">電話番号</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="restaurant: ${restaurantsPage}"><!-- 繰り返し処理のth:each -->
                            <td th:text="${restaurant.getRestaurantId()}"></td>
                            <td th:text="${restaurant.getName()}"></td>
                            <td th:text="${restaurant.getPostalCode()}"></td>
                            <td th:text="${restaurant.getAddress()}"></td>
                            <td th:text="${restaurant.getPhoneNumber()}"></td>
                            <td><a th:href="@{/admin/restaurant/__${restaurant.getRestaurantId()}__}">詳細</a></td>
                            <td><a href="#" class="link-danger" data-bs-toggle="modal"
                                   th:data-bs-target="${'#deleteRestaurantModal'+restaurant.getRestaurantId()}">削除</a>

                                <!-- 削除用モーダル -->
                                <div class="modal fade" th:id="${'deleteRestaurantModal'+restaurant.getRestaurantId()}"
                                     tabindex="-1"
                                     th:aria-labelledby="${'deleteRestaurantModalLabel'+restaurant.getRestaurantId()}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    th:id="${'deleteRestaurantModalLabel'+restaurant.getRestaurantId()}"
                                                    th:text="${restaurant.getName()+'を削除してもよろしいですか？'}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="閉じる"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post"
                                                      th:action="@{/admin/restaurant/__${restaurant.getRestaurantId()}__/delete}">
                                                    <button type="submit" class="btn text-white shadow-sm">削除</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </tr>
                        </tbody>
                    </table>

                    <!-- ページネーション 未完成-->
                    <div th:if="${restaurantsPage.totalPages > 1}" class="d-flex justify-content-center mt-4">
                        <nav class="p-0 m-0 rounded-3" aria-label="レストラン一覧ページ">
                            <ul class="pagination p-0 m-0">
                                <li class="page-item">
                                    <span th:if="${restaurantsPage.isFirst()}" class="page-link disabled">前</span>
                                    <a th:unless="${restaurantsPage.isFirst()}"
                                       th:href="@{/admin/restaurant(page=${restaurantsPage.number - 1}, keyword=${keyword})}"
                                       class="page-link">前</a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(0, restaurantsPage.totalPages - 1)}"
                                    class="page-item">
                                    <span th:if="${page == restaurantsPage.number}" class="page-link active"
                                          th:text="${page + 1}"></span>
                                    <a th:unless="${page == restaurantsPage.number}"
                                       th:href="@{/admin/restaurant(page=${page}, keyword=${keyword})}"
                                       class="page-link" th:text="${page + 1}"></a>
                                </li>
                                <li class="page-item">
                                    <span th:if="${restaurantsPage.isLast()}" class="page-link disabled">次</span>
                                    <a th:unless="${restaurantsPage.isLast()}"
                                       th:href="@{/admin/restaurant(page=${restaurantsPage.number+1},keyword=${keyword})}"
                                       class="page-link">次</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </main>


</div>
<!-- フッター -->
<div th:replace="~{fragment::footer}"></div>
<!-- BootStrap -->
<div th:replace="~{fragment::scripts}"></div>
</body>
</html>