<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment::headResources}"></div>
    <title>支払い一覧</title>
<!--    <script th:src="@{/js/table.js}" defer></script>-->
    <script th:src="@{/js/long_id_toggle.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/name_badge.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="wrapper">
    <!-- ヘッダー -->
    <div th:replace="~{fragment::header}"></div>

    <main>
        <div class="container pt-4 pb-5 container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">

                    <h1 class="mb-4 text-center">支払い一覧</h1>

                    <div class="d-flex justify-content-between align-items-end">
                        <form method="get" th:action="@{/admin/payment/index}" class="mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchQuery" th:value="${searchQuery}" placeholder="キーワード">
                                <button type="submit" class="btn text-white shadow-sm btn">検索</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div th:if="${successMessage}" class="alert alert-info">
                        <span th:text="${successMessage}"></span>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ユーザー</th>
                            <th scope="col">金額</th>
                            <th scope="col">ストライプ支払いId</th>
                            <th scope="col">支払い日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="payment:${payments}"  >
                            <td th:text="${payment.paymentId}"></td>
                            <td>
                                <a th:href="@{/admin/user/show/__${payment.user.userId}__}">
                                    <span class="badge text-bg-info shadow-sm badge_hover" th:text="${payment.user.name}"></span>
                                </a>
                            </td>
                            <td th:text="${payment.amount}+'円'"></td>
                            <td style="cursor:pointer;">
                                <small>
                                    <span class="long_id text-primary user-select-all" th:text="${#strings.substring(payment.stripePaymentIntentId,0,8)+'...'}"
                                          th:data-full-id="${payment.stripePaymentIntentId}"></span>
                                </small>
                            </td>
                            <td th:text="${#temporals.format(payment.createdAt,'yyyy/MM/dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ページネーション -->
            <div th:if="${payments.getTotalPages()>1}" class="d-flex justify-content-center">
                <nav aria-label="ユーザー一覧ページ">
                    <ul class="pagination">
                        <li class="page-item">
                            <span th:if="${payments.isFirst()}"class="page-link disabled">前</span>
                            <a th:unless="${payments.isFirst()}" th:href="@{/admin/payment/index(page=${payments.getNumber()-1},searchQuery=${searchQuery})}" class="page-link page-link">前</a>
                        </li>
                        <li th:each="i:${#numbers.sequence(0,payments.getTotalPages()-1)}" class="page-item">
                            <span th:if="${i == payments.getNumber()}" class="page-link active active" th:text="${i + 1}" ></span>
                            <a th:unless="${i == payments.getNumber()}" th:href="@{/admin/payment/index(page=${i},searchQuery=${searchQuery})}" class="page-link page-link" th:text="${i+1}"></a>
                        </li>
                        <li class="page-item">
                            <span th:if="${payments.isLast()}" class="page-link disabled">次</span>
                            <a th:unless="${payments.isLast()}" th:href="@{/admin/payment/index(page=${payments.getNumber()+1},searchQuery=${searchQuery})}" class="page-link page-link">次</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>


</div>

<!-- フッター -->
<div th:replace="~{fragment::footer}"></div>
</body>
</html>