<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment::meta}"></div>

    <div th:replace="~{fragment::styles}"></div>
    <title>login</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-7">
            <div th:if="${param.error}" class="alert alert-danger">
                ログイン失敗しました。
            </div>
            <div th:if="${param.loggedIn}" class="alert alert-success">
                ログイン成功しました。
            </div>
            <div th:if="${passwordResetSuccess}" class="alert alert-success">
                パスワード変更に成功しました。ログインしてください。
            </div>

            <h1 class="text-center mb-4">ログイン画面</h1>

            <form th:action="@{/auth/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">名前</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="ユーザー名かメールアドレスを入力してください" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">パスワード</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="パスワード" required >
                </div>

                <button type="submit" class="btn btn-primary w-100">ログイン</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
